{% load static %}
<nav class="uk-navbar-container gr" uk-navbar>
    <!-- <div class="uk-navbar-left">
        <img class="uk-navbar-item uk-logo" src="{% static '/app/img/Top_logo.png' %}" alt="اروم کالا">

    </div> -->
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li class="uk-active wh">
                <a href="/"> <span uk-icon="icon: home"> </span>  خانه </a>
            </li>
            <li>
                <a class="wh" href="#"><span uk-icon="icon:  thumbnails"></span> خدمات</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active">
                            <a href="#"><span uk-icon="icon: cog"></span>  تعمیرات</a>
                        </li>
                        <li class="uk-nav-divider"></li>
                        <li>
                            <a href="#"><span uk-icon="icon: check"></span> کولر گازی</a>
                        </li>
                        <li>
                            <a href="#"><span uk-icon="icon: check"></span> تست</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="wh" href="#"><span uk-icon="icon: check"></span> تست</a>
            </li>
        </ul>

    </div>
</nav>

