<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">خانه</a></li>
            <li>
                <a href="#">خدمات</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">تعمیرات</a></li>
                        <li><a href="#">تست</a></li>
                        <li><a href="#">تست</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">تست</a></li>
        </ul>

    </div>
</nav>