<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UromKala</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/app/css/uikit-rtl.min.css' %}">
    
</head>

<body>
    {% include 'app/include/_menu.html' %}
    {% block content %} {% endblock %} 

    <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <script src="{% static 'app/js/uikit.min.js' %}"></script>
    <script src="{% static 'app/js/uikit-icons.min.js' %}"></script>
</body>
</html>