<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>اروم کالا</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/app/css/uikit-rtl.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    
</head>

<body>
    {% include 'app/include/_menu.html' %}
    {% block content %} {% endblock %} 

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'app/js/uikit.min.js' %}"></script>
    <script src="{% static 'app/js/uikit-icons.min.js' %}"></script>
    <script type="text/javascript">!function(){function t(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,localStorage.getItem("8b39f135-08dc-4868-baee-1fa8f5947423")?t.src="https://app.raychat.io/scripts/js/"+o+"?rid="+localStorage.getItem("rayToken")+"&href="+window.location.href:t.src="https://app.raychat.io/scripts/js/"+o;var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}var e=document,a=window,o="8b39f135-08dc-4868-baee-1fa8f5947423";"complete"==e.readyState?t():a.attachEvent?a.attachEvent("onload",t):a.addEventListener("load",t,!1)}();</script>
</body>
</html>