@font-face {
  font-family: 'IRANYekanWeb-Light';
  src: url('../fonts/yekan_light/IRANYekanWeb-Light.eot?#iefix') format('embedded-opentype'),
   url('../fonts/yekan_light/IRANYekanWeb-Light.woff') format('woff'),
   url('../fonts/yekan_light/IRANYekanWeb-Light.ttf')  format('truetype'),
   url('../fonts/yekan_light/IRANYekanWeb-Light.svg#IRANYekanWeb-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'IRANYekanWeb';
  src: url('../fonts/yekan/IRANYekanWeb.eot?#iefix') format('embedded-opentype'),
  url('../fonts/yekan/IRANYekanWeb.woff') format('woff'),
  url('../fonts/yekan/IRANYekanWeb.ttf')  format('truetype'),
  url('../fonts/yekan/IRANYekanWeb.svg#IRANYekanWeb') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'IRANYekanWeb'!important;
  text-align: right !important;
  background-color: #eeeeeec2 !important;
}

.gr {
  background-image: linear-gradient(to right, #00f2fe 0% , #4facfe 100%)!important;
}

.wh a{
  color: white !important;
}
.wh {
  color: white !important;
}